src/test/resources/TestDataGenerator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CDPSDataGenerator">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:short" name="UserCount">
                    <xs:annotation>
                        <xs:documentation>Container for our test data generator</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DataAquisition">
                    <xs:annotation>
                        <xs:documentation>The total number of users to create</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:date" name="StartDate">
                                <xs:annotation>
                                    <xs:documentation>Container specific for life habits and sensor data</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:date" name="EndDate">
                                <xs:annotation>
                                    <xs:documentation>Dates in between to generate data</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SensorData">
                                <xs:annotation>
                                    <xs:documentation>For the rest of the users, how sparse should the data be generated</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="FullSensorDataPercent"/>
                                        <xs:element type="xs:byte" name="PartialSensorDataFillPercent">
                                            <xs:annotation>
                                                <xs:documentation>The % from the total user count which should have complete sensor data generated for the whole specified period</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="LivingHabits">
                                <xs:annotation>
                                    <xs:documentation>For the rest of the users, how sparse should the living habits be generated</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="FullLivingHabitsPercent"/>
                                        <xs:element type="xs:byte" name="PartialLivingHabitsFillPercent">
                                            <xs:annotation>
                                                <xs:documentation>The % from the total user count which should have complete living habits generated for the whole specified period</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>